@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  scroll-behavior: smooth;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
  transition: all 0.3s ease;
  background-color: #1370B5;
}
.navbar.sticky{
  /* background: white;
  color: blue; */
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: black;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

.loader {
  position: fixed;
  z-index: 9999;
  background: url('./assets/page-loader.gif') 50% 50% no-repeat;
  top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
    background-color: black;
}


.image {
	position: relative;
	width: 400px;
}

.image__img {
	display: block;
	width: 50vh;
  height: 80vh;
  border: 10px solid white;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
}

.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 50vh;
	height: 80vh;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
  border-radius: 10px;
  cursor: pointer;
}

.image__overlay--blur {
	backdrop-filter: blur(5px);
}

.image__overlay>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover>* {
	transform: translateY(0);
}

.image__title {
	font-size: 1.6em;
	font-weight: bold;
}

.image__description {
	font-size: 1.25em;
	margin-top: 0.25em;
}

.well {
  display: flex;
  padding-top: 180px;
  background-color: #F4F9FD;
  justify-content: center;
  gap: 170px;
}
.well p {
  font-weight: 500;
}
.well button {
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 6px;
  border: none;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.doc1 {
  height: 70vh;
  margin-left: 50px;
}

.our {
  color: #1370B5;
  font-size: 20px;
  font-weight: bold;
}
.we {
  color: #25304C;
  font-size: 45px;
}
.about {
  background-color: #1370B5;
  color: white;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.serve {
  background-color: white;
  color: #1370B5;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.med {
 padding-top: 80px;
 padding-bottom: 50px;
}
.real {
  padding-bottom: 30px;
}
.quality {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.quality img {
  height: 10vh;
  margin-bottom: 20px;
}
.quality1 {
  background-color: white;
  background-image: url(./assets/pattern-1.png);
  background-size: cover;
  padding: 40px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin-top: -30px;
  margin-bottom: 100px;
}
.quality h3 {
  padding-bottom: 20px;
}
.research {
  display: flex;
  justify-content: space-around;
}
.researchImg {
  background-image: url(./assets/pattern-1.png);
}
.medical {
  padding-top: 80px;
}
.medical h5 {
  padding-bottom: 20px;
  font-size: 27px;
  font-weight: lighter;
}
.medical h2 {
  padding-bottom: 20px;
  font-size: 35px;
}
.medical p {
  padding-bottom: 20px;
}
.medical button {
  background-color: #1370B5;
  color: white;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  border-radius: 7px;
  font-size: 17px;
  cursor: pointer;
}
.health {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
  padding-bottom: 50px;
}
.care {
  text-align: center;
  padding-bottom: 80px;
  padding-top: 100px;
  background-image: url(./assets/pattern-1.png);
}
.care h2 {
  font-size: 35px;
}
.care h5 {
  padding-bottom: 20px;
  font-size: 27px;
  font-weight: lighter;
}
.allserve {
  background-color: #F5F5F5;
}
.check {
  padding: 40px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px; 
  transition: transform ease 300ms;
  cursor: pointer;
  background-color: white;
  border-bottom: 5px solid #1370B5;
  transition: 0.5s ease-in-out;
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
  margin-bottom: 20px;
}
.check:hover{
  transform:  translate(0, -30px);
}
.check h4 {
  font-size: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.team {
  display: flex;
  justify-content: space-around;
  margin-left: 25px;
}
.dedicated {
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
}
.dedicated h2 {
  font-size: 35px;
}
.dedicated h5 {
  padding-bottom: 20px;
  font-size: 27px;
  font-weight: lighter;
}
.docTeam {
  background-color: #F5F5F5;
  padding-top: 20px;
  padding-bottom: 150px;
}
.need {
  display: flex;
  justify-content: space-around;
  background-color: #1370B5;
  color: white;
}
.checkUp {
  padding-top: 200px;
}
.checkUp h4 {
  font-size: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.checkUp h1 {
  font-size: 27px;
}
.checkUp button {
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 6px;
  border: none;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  color: #1370B5;
  background-color: white;
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
}
.checkLink {
  text-decoration: none;
}
.experience {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
}
.happy {
  text-align: center;
  padding-bottom: 150px;
  padding-top: 50px;
}
.happy p {
  font-size: 20px;
}
.happy h3 {
  font-size: 30px;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: #1370B5;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
figure {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  cursor: pointer;
}
footer p {
  padding-top: 20px;
}
.chat {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.quick {
  padding-top: 100px;
}










.wrapper {
  background-color: #ffffff;
  /* position: absolute; */
  width: 80vw;
  max-width: 41em;
  min-height: 25em;
  border-radius: 0.6em;
  transform: translate(-50%, -50%);
  margin-top: 100px;
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
  display: flex;
  margin-left: 680px;
}
.testimonial-container {
  width: 85%;
  height: 100%;
  position: relative;
  margin: auto;
  padding: 1.8em 1.2em;
}
.wrapper button {
  font-size: 1.8em;
  height: 2.2em;
  width: 2.2em;
  background-color: #ffffff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border: none;
  color: #0a69ed;
  box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
  cursor: pointer;
  border-radius: 50%;
}
button#next {
  right: -1.1em;
}
button#prev {
  left: -1.1em;
}
.testimonial-container p {
  color: #8c8c90;
  text-align: center;
  font-size: 0.9em;
  line-height: 2em;
  letter-spacing: 0.05em;
}
.testimonial-container img {
  display: block;
  margin: 1.8em auto 1.25em auto;
  border-radius: 50%;
  width: 4.4em;
}
.testimonial-container h3 {
  color: #2d3d67;
  font-size: 1em;
  text-align: center;
}
.testimonial-container h6 {
  color: #bcc4da;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-align: center;
}


@media screen and (max-width: 650px) {
  .wrapper {
    font-size: 14px;
  }
}












@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
    color: white;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
  .menu-list li a{
    color: #fff;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}



@media (max-width: 768px) {
.well {
  padding-top: 80px;
  gap: 20px;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 20px;
}
.well p {
  font-weight: 500;
}
.well button {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  border: none;
  margin-right: 20px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}
.mybtn {
  display: flex;
  justify-content: center;
}
.our {
  color: #1370B5;
  font-size: 15px;
  font-weight: bold;
}
.we {
  color: #25304C;
  font-size: 25px;
}
.doc1 {
  height: 45vh;
  width: 80vw;
  margin-left: 20px;
  margin-right: 10px;
  object-fit: cover;
}
.quality {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.quality img {
  height: 7vh;
  margin-bottom: 20px;
}
.quality1 {
  background-color: white;
  background-image: url(./assets/pattern-1.png);
  background-size: cover;
  padding: 20px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.quality h3 {
  padding-bottom: 20px;
}
.research {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.search {
  height: 50vh;
  object-fit: cover;
  margin-left: 27px;
}
.medical {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}
.medical h5 {
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: lighter;
}
.medical h2 {
  padding-bottom: 20px;
  font-size: 25px;
}
.medical p {
  padding-bottom: 20px;
}
.medical button {
  background-color: #1370B5;
  color: white;  
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  border: none;
  margin-right: 20px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}
.care {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  background-image: url(./assets/pattern-1.png);
}
.care h2 {
  font-size: 20px;
}
.care h5 {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: lighter;
}
.health {
  gap: 20px;
  text-align: center;
  padding-bottom: 50px;
  flex-direction: column;
}
.check {
  margin-left: 20px;
  margin-right: 20px;
}
.check:hover{
  transform:  translate(0, -20px);
}
.check h4 {
  font-size: 20px;
}
.docTeam {
  padding-bottom: 70px;
}
.dedicated h2 {
  font-size: 20px;
}
.dedicated h5 {
  font-size: 20px;
}
.team {
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-left: 42px;
  margin-right: 20px;
}
.image {
	position: relative;
	width: 400px;
}

.image__img {
	display: block;
	width: 40vh;
  height: 50vh;
  border: 10px solid white;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
}

.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 40vh;
  height: 50vh;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
  border-radius: 10px;
  cursor: pointer;
}

.image__overlay--blur {
	backdrop-filter: blur(5px);
}

.image__overlay>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover>* {
	transform: translateY(0);
}

.image__title {
	font-size: 1em;
	font-weight: 500;
}

.image__description {
	font-size: 1.25em;
	margin-top: 0.25em;
}
.need {
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 20px;
}
.need img {
  height: 40vh;
  padding-top: 20px;
}
.checkUp {
  padding-top: 30px;
}
.checkUp h4 {
  font-size: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.checkUp h1, h2 {
  font-size: 20px;
  padding-bottom: 10px;
}
.checkUp p {
  padding-bottom: 10px;
}
.checkUp button {
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 6px;
  border: none;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  color: #1370B5;
  background-color: white;
}
.experience {
  flex-direction: column;
  margin-bottom: 30px;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  margin-top: 30px;
}
.wrapper {
  margin-left: 210px;
}
.happy {
  text-align: center;
  padding-bottom: 110px;
  padding-top: 50px;
}
.happy p {
  font-size: 20px;
  padding-bottom: 20px;
}
.happy h3 {
  font-size: 25px;
}
footer {
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
figure {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  cursor: pointer;
}
footer p {
  padding-top: 20px;
}
.chat {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.quick {
  padding-top: 50px;
}

}